<div class="container">
    <h1 class="text-center">Inspiring Quotes</h1>
    <div class="row destacados">
        {{#each emotions}}
        <div class="col-md-3">
            <a href="#" onclick="showQuoteImage(event, '{{quotePath}}')">
                <img src="/images/{{imagePath}}" alt="{{title}}" class="img-circle img-thumbnail">
                <h2>{{title}}</h2>
            </a>
        </div>
        {{/each}}

    </div>
    <div class="row text-center">
        <img class="img-thumbnail" id="big-img" src="images/task1/default.jpg" />
    </div>
</div>

<script>
    function showQuoteImage(e, quotePath) {
        e.preventDefault();
        var img = document.querySelector('#big-img');
        img.src = '/images/' + quotePath;
    }
</script>